{% extends "appbuilder/base.html" %}

{% block content %}
<h4> {{ word }} </h4>
<h4> {{ marked_result|safe }} </h4>

<a class="btn btn-primary" href="{{ url_for("HFSTAnalyseView.this_form_get", tag=tag, word=word) }}"><< {{ _("Back to analyser page") }}</a>
<a class="btn btn-success" href="{{ url_for("TestCaseView.add", word=word, result=result) }}">{{ _("Add as Test Case") }} >></a>

{% endblock %}
