{% extends "appbuilder/base.html" %}

{% block content %}
<h4> {{ result|safe }} </h4>

<a href="{{ url_for("RunTestView.this_form_get", tag=tag, filter_tags=filter_tags) }}"><< {{ _("Back to Run Test page") }}</a>

<h3>{{ _("Errors") }}</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{ _("Token") }}</th>
      <th scope="col">{{ _("What should be") }}</th>
      <th scope="col">{{ _("What we have") }}</th>
      <th scope="col">{{ _("Actions") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for (case, result) in error_cases %}
    <tr>
      <td>{{ case.word }}</td>
      <td>{{ case.result }}</td>
      <td>{{ result }}</td>
      <td><a href="{{ url_for("TestCaseView.edit", pk=case.id) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> {{ _("Edit") }}</a></td>
    </tr>
    {% else %}
    <tr>
      <td align= "center" colspan="4">{{ _("no data") }}</td>
    </tr>
    {% endfor%}
  </tbody>
</table>


{% endblock %}
